section.sec-slide.top.text-left
	h3 Meteorite BI
	ul
		li.fragment Empresa localizada no Reino Unido;
		li.fragment Fundada por Robin Lazenby e Tom Barber;
		li.fragment Realiza trabalhos de consultorias (BI e Big Data);
		li.fragment Responsável pelo desenvolvimento do Saiku Analytics.