section.sec-slide.top.text-left
	h3.title Saiku Analytics
	ul
		li.fragment Ferramenta para explorar grandes fontes de dados complexos
		li.fragment Interface drag and drop (arrastar/soltar)
		li.fragment Realiza trabalhos de consultorias (BI e Big Data)
		li.fragment Responsável pelo desenvolvimento do Saiku Analytics