section.sec-slide.top.text-left
	h3 Meteorite BI
	ul
		li.fragment Empresa localizada na Inglaterra
		li.fragment Fundada por Robin Lazenby e Tom Barber
		li.fragment Trabalha com consultorias de BI e Big Data
		li.fragment Responsável pelo desenvolvimento do Saiku Analytics