section.sec-slide.center
	h2 Breno Polanski
	hr
	h3 Front End Software Engineer
	a(href="http://www.meteorite.bi/", target="_blank")
		img(class="meteoritebi-logo", src="img/meteoritebi-logo.png", alt="Meteorite BI")
