section.sec-slide.top.text-left
	h3 Saiku Analytics
	hr
	h5 Empresas que usam Saiku
	img(class="company-logo", src="img/samsung-logo.png")
	img(class="company-fao", src="img/fao-logo.png")
	img(class="company-logo", src="img/amazon-logo.png")
	img(class="company-logo", src="img/linkedin-logo.png")
	img(class="company-logo", src="img/usa-logo.png")