section.sec-slide.top.text-left
	h3 Saiku Analytics
	hr
	h5 Empresas que usam Saiku :)
	img(class="partner-logo", src="img/fao-logo.png")
	img(class="partner-logo", src="img/amazon-logo.png")
	img(class="partner-logo", src="img/usa-logo.png")
	img(class="partner-logo", src="img/samsung-logo.png")
	img(class="partner-logo", src="img/linkedin-logo-logo.png")