section.sec-slide.top.text-left
	h3 Saiku Analytics
	hr
	h5 Tipos de conectividade
	ul
		li.fragment Oracle Database
		li.fragment MySQL
		li.fragment PostgreSQL
		li.fragment MongoDB
		li.fragment Hadoop
		li.fragment Spark
		li.fragment Microsoft Analysis Services