section.top.text-left(data-background="#ae1817")
	h3 Contatos
	ul
		li <b>Robin Lazenby</b> - Business Director <br/> <i>robin.lazenby@meteorite.bi</i>
		hr
		li <b>Tom Barber</b> - Technical Director <br/> <i>tom.barber@meteorite.bi</i>
		hr
		li <b>Breno Polanski</b> - Front End Software Engineer <br/> <i>breno.polanski@meteorite.bi</i>
