section.sec-slide.top.text-left
	h3 Saiku Analytics
	hr
	h5 Recursos
	ul
		li.fragment Suporte Dedicado;
		li.fragment Query Designer (drag and drop);
		li.fragment Relatórios em modo tabela ou gráfico;
		li.fragment Filtro de Data avançado;
		li.fragment Editor de Gráficos;
		li.fragment Dashboard Designer;
		li.fragment Schema Designer.