section.sec-slide.top.text-left
	h3 Recursos
	ul
		li.fragment Dedicated Support
		li.fragment Graphical Query Designer
		li.fragment Charts/Tables
		li.fragment Advanced Date Filter
		li.fragment Chart Editor
		li.fragment Dashboard Designer
		li.fragment Schema Designer