section.sec-slide.top.text-left
	h3 Meteorite BI
	hr
	h5 Parceiros
	ul
		li.fragment Estados Unidos
		li.fragment Brasil
		li.fragment Itália
		li.fragment Espanha
		li.fragment Reino Unido
		li.fragment Croácia