section.sec-slide.top.text-left
	h3 Meteorite BI
	hr
	h5 Parceiros
	img(class="partner-logo", src="img/actian-logo.png")
	img(class="partner-logo", src="img/open-consulting-logo.png")
	img(class="partner-logo", src="img/cloudthing-logo.png")
	img(class="partner-logo", src="img/coin-logo.png")
	img(class="partner-logo", src="img/mate-logo.png")
	img(class="partner-logo", src="img/Screenshot from 2015-10-14 12:21:46.png")