doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/title
				include ../slides/about
				include ../slides/about-meteoritebi
				include ../slides/partners-1
				include ../slides/partners-2
				include ../slides/about-saiku
				include ../slides/conn
				include ../slides/features
				include ../slides/companies
				include ../slides/demo
				include ../slides/contacts
		include inc/scripts
