@import "vendor/reveal"

@import "highlight-themes/zenburn"

// uncomment your favorite theme
// if you want to see them live, take a look at:
// http://lab.hakim.se/reveal-js/#/themes

// @import "reveal-themes/black"
@import "reveal-themes/white"
// @import "reveal-themes/league"

$main = #ae1817

@font-face {
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 300
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')
}

@font-face {
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 800
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hiYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2')
}

.reveal
	font-family: 'Open Sans', Helvetica, sans-serif

	a
		border: none

	img
		max-width: 100%
		border: none !important
		box-shadow: none !important

	ul
		margin-top: 30px
		li
			font-size: .9em
			line-height: 2em

	.top
		top: 0 !important

	.center
		text-align: center
		display: block
		margin: auto

	.text-left
		text-align: left

	.text-right
		text-align: right

	.sec-slide
		h1, h2, h3, h4
			color: $main
		hr
			border-color: $main

	.meteoritebi-logo
		width 400px

	.saiku-chart-demo
		width 780px

	.partner-logo
		width 300px
		padding 10px

	.company-fao
		width 150px
		padding 10px

	.company-logo
		width 300px
		padding 10px

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6
	font-family: 'Open Sans', Helvetica, sans-serif